spring.application.name=demo
spring.datasource.url=<your_db_connection_url>
spring.datasource.username=<your_db_user>
spring.datasource.password=<your_db_user_password>
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show=true